
.login-modal .modal-content{
    background-color: #333033;
    color: white;
}
.login-modal .modal-backdrop,.show{
    background-color: rgba(0, 0, 0, 0.7);
}
.login-link{
    width: 200px;
    margin: auto;
    
}

.forget-pass{
    padding: 0;
    border: none;
    background: none;
}