
.signup-form{
    margin-top: 15%;
}
.signup-modal .modal-content{
    background-color: #333033;
    color: white;
}
.signup-modal .modal-backdrop,.show{
    background-color: rgba(0, 0, 0, 0.7);
}
.signup-link{
    width: 300px;
    margin: auto;
    
}
